<div class="row">
  <div class="col-md-12">
    {{!-- <h2>Students</h2> --}}
    {{!-- <a href="/students/add" class="btn btn-success pull-right">Add New Student</a> --}}
    <h2>Students <a href="/students/add" class="btn btn-success pull-right">Add New Student</a></h2>
    <hr />
    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Expected Credential</th>
            <th>Status</th>
            <th>Program</th>
            <th>Registration Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
            <tr>
              <td><a href="/student/{{studentID}}">{{studentID}}</a></td>
              <td>{{firstName}} {{lastName}}</td>
              <td><a href="mailto:{{email}}">{{email}}</a></td>
              <td
              >{{addressStreet}}{{addressCity}}{{addressState}}{{addressPostal}}</td>
              <td><a
                  href="/students?credential={{expectedCredential}}"
                >{{expectedCredential}}</a></td>
              <td><a href="/students?status={{status}}">{{status}}</a></td>
              <td><a href="/students?program={{program}}">{{program}}</a></td>
              <td>{{registrationDate}}</td>
              <td><a href="/students/delete/{{studentID}}" class="btn btn-danger">remove</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{#if message}}
      <p>{{message}}</p>
    {{else}}

    {{/if}}
  </div>
  {{#unless students}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>